.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FEFFDE; 
    margin-top: 11rem;
  }
  .signup-container h3{
    font-size: 1.5rem;
    color: #52734D;
  }
  .signup-form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border: 2px solid #52734D;
    border-radius: 8px;
    box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 415px;
    width: 100%;
    text-align: center;
  }
  
  .form-logo {
    width: 100px; 
    height: auto;
   
  }
  
  .mb-3 {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .mb-3 label{
    color: #52734D;
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  .form-control {
    width: 100%;
    padding: 0.75rem 1.25rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }
  
  .submit-button {
    padding: 0rem 1.2rem;
    font-size: 1.1rem;
    border: 2px solid transparent;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
    border-radius: 20px;
    height: 46px; /* Unified button height */
    text-decoration: none; /* Remove hyperlink styling */
    background-color: transparent;
    border-color: #52734D;
    color: #52734D !important;
    text-decoration: none !important; 
  }
  
  .submit-button:hover {
    background-color: #52734D;
    color: #FEFFDE !important;
    transform: scale(1.05);   
    text-decoration: none;
  }
  
  .already-registered {
    margin-top: 1rem;
  }
  
  .already-registered a {
    color: #007bff;
    text-decoration: none;
  }
  
  .already-registered a:hover {
    text-decoration: underline;
  }
  